* {
  font-family: copperplate;
  border: none;
  margin: 0;
  color: #404040;
}

html, body {
    min-height: 100%;
}
body {
  background-image: url(../img/clouds.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.navbar {
  background-color: #424242;
  width: 100%;
  height: 40px;
}

.title {
  text-align: center;
  color: #EFFBFB;
  font-size: 30px;
  float: left;
  margin: 5px;
}

.logout {
  color: #EFFBFB;
  position: absolute;
  right: 1%;
  top: 1%;
}

.search-location {
  background-color: #EFFBFB;
  width: 62%;
  border: 1px solid #404040;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
}

.saved-locations {
  background-color: #EFFBFB;
  border: 1px solid #404040;
  border-radius: 5px;
  min-width: 300px;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  padding: 10px 0;
}

.update-time {
  font-size: 10px;
  margin: 5px;
}

.location-items {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.search-bar {
  margin: 0 20px;
  text-align: center;
}

.search-bar input {
  min-width: 40%;
  border: 1px solid #404040;
  border-radius: 5px;
  height: 20px;
  float: right;
  margin-top: 7px;
  position: relative;
  right: 4%;
  text-align: center;
}

.login-form, .signup-form {
  background-color: #EFFBFB;
  text-align: center;
  border: 1px solid #404040;
  border-radius: 5px;
  width: 50%;
  margin: 10% auto;
  opacity: 0.95;
  padding: 30px;
}

.login-form input, .signup-form input {
  width: 50%;
  margin-top: 5%;
  border: 1px solid #404040;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  border: 1px solid #404040s;
  border-radius: 5px;
}

button:hover {
  background-color: #404040;
  color: #EFFBFB;
}
